#app, #start, #game-wrapper {
    height: 100vh;
    width: 100vw;
    background-color: greenyellow
}

#app {
    background-color: greenyellow
    
}

.hide {
    display: none !important;
}

#start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#username-form {
    margin: 0 auto;
    text-align: center;
}

#game-wrapper {
    display: flex;
}

#game {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-right: 2px solid black;
    background-color: darkblue;
}

#game h3 {
    background-color: black;
    border-color: white;
    padding: 2rem;
    color: whitesmoke;
}

#users {
    flex-basis: 20%;
}

#users h3 {
    background-color: black;
    padding: 2rem;
    color: whitesmoke;
}

#users ul {
    margin: 0;
    padding: 0.5rem 0.75rem;
    list-style: none;
}

.col {
    padding-right: 0px;
    padding-left: 0px;
    height: 60px;
}

#game-board {
    margin: 1rem;
    border-radius: 5px;
}

.virus {
    
    background-color: red;
    width: 40px;
    height: 40px;
    border-radius: 60px;
    
}

/* .clickedvirus {
    background-color: green;
} */

#endgame {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgb(205, 17, 17);
    display: flex;
    align-items: center;
    justify-content: center;
}

.endgame-wrapper {
    padding: 5px;
    border-radius: 5px;
    background-color: white;
}

#score {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#score span {
    font-size: 25px;
}

#reaction {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

#reaction span {
    font-size: 18px;
}

#score span {
    font-size: 20px;
}

.scoreboard {
    text-align: center;
}